@model MvcPhoenix.Models.ServiceViewModels

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- container-fluid -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div>
            <img src="~/Content/images/logos/acme.svg" style="float: right" alt="acme logo">
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title <small>Import Orders</small></h1>
        </div>
    </div>
    <!-- /.Page Heading -->
    <!-- Form -->
    <form role="form">
        <div class="row">
            <div class="col-lg-12">

                <section id="loadDataInput">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-file-text-o fa-fw"></i> Load Data</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-md-3">
                                <label>Select Client</label>
                                <select class="form-control">
                                    <option>Select Client</option>
                                    <option>Akzo Nobel</option>
                                    <option>Clariant</option>
                                    <option>DSM</option>
                                    <option>Elementis</option>
                                    <option>Evonik</option>
                                    <option>Grace</option>
                                    <option>Lonza</option>
                                    <option>OMG</option>
                                    <option>Stepan</option>
                                    <option>Thor</option>
                                    <option>Wacker</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Local File Upload</label>
                                <input type="file">
                            </div>
                            <div class="form-group col-md-1">
                                <label>OR</label>
                            </div>
                            <div class="form-group col-md-5">
                                <label>URL Upload</label>
                                <input class="form-control" placeholder="http://domain.com">
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-primary btn-block"><i class="fa fa-table fa-fw"></i> Load Data</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-cloud-upload fa-fw"></i> Import Data</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="reviewData">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-eye fa-fw"></i> Review Data</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive col-md-12">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>OrderDate</th>
                                            <th>CustomerNumber</th>
                                            <th>CustomerName</th>
                                            <th>ShippingAddress</th>
                                            <th>ShippingCity</th>
                                            <th>ShippingState</th>
                                            <th>ShippingCountry</th>
                                            <th>ShippingZipcode</th>
                                            <th>RequestorsName</th>
                                            <th>RequestorsPhone</th>
                                            <th>OrderNotes</th>
                                            <th>LineNumber</th>
                                            <th>ItemNumber</th>
                                            <th>ItemDescription</th>
                                            <th>Quantity</th>
                                            <th>LotNumber</th>
                                            <th>Carrier</th>
                                            <th>Priority</th>
                                            <th>OverNightFlag</th>
                                            <th>ApprovalStatus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>12/01/2015</td>
                                            <td>0000502717</td>
                                            <td>River Valley Coatings</td>
                                            <td>800 N. Highland Ave.</td>
                                            <td>Aurora</td>
                                            <td>IL</td>
                                            <td>US</td>
                                            <td>60506</td>
                                            <td>Paul Mueller</td>
                                            <td>630-621-5677</td>
                                            <td>Lorem ipsum...</td>
                                            <td>1</td>
                                            <td>121485</td>
                                            <td>BORCHI GOL</td>
                                            <td>11</td>
                                            <td>PQ123</td>
                                            <td>UPS GROUND</td>
                                            <td>High</td>
                                            <td>True</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>12/01/2015</td>
                                            <td>0000123456</td>
                                            <td>River Valley Coatings</td>
                                            <td>800 N. Highland Ave.</td>
                                            <td>Aurora</td>
                                            <td>IL</td>
                                            <td>US</td>
                                            <td>60506</td>
                                            <td>Paul Mueller</td>
                                            <td>630-621-5677</td>
                                            <td>Lorem ipsum...</td>
                                            <td>2</td>
                                            <td>121485</td>
                                            <td>BORCHI GOL</td>
                                            <td>11</td>
                                            <td>PQ123</td>
                                            <td>UPS GROUND</td>
                                            <td>High</td>
                                            <td>True</td>
                                            <td>Approved</td>
                                        </tr>
                                        <tr>
                                            <td>12/01/2015</td>
                                            <td>0000756893</td>
                                            <td>River Valley Coatings</td>
                                            <td>800 N. Highland Ave.</td>
                                            <td>Aurora</td>
                                            <td>IL</td>
                                            <td>US</td>
                                            <td>60506</td>
                                            <td>Paul Mueller</td>
                                            <td>630-621-5677</td>
                                            <td>Lorem ipsum...</td>
                                            <td>3</td>
                                            <td>121485</td>
                                            <td>BORCHI GOL</td>
                                            <td>11</td>
                                            <td>PQ123</td>
                                            <td>UPS GROUND</td>
                                            <td>High</td>
                                            <td>True</td>
                                            <td>Not Approved</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </form>
</div>